#tables-button {
    background-color: #337ab7;
    border-color: #2e6d14;
    color: #fff;
    padding: 15px;
}

#res-button {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
    padding: 15px;
}

#home-button {
    background-color: green;
    color: #fff;
    padding: 15px;
}